@use "../abstract/mixins" as mix;
@use "../abstract/variables" as vars;
@use "../abstract/mediaqueries" as media;
@use "../base/fonts";
header{
    background-image:url(../../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    #navWrapper{
            @include mix.flex-center-wrap(row,space-between);
            padding: 3rem 5rem 11.25rem;

    
                    .navWrapper-left{
                        @include mix.flex-center-wrap(row,flex-start);
                        gap: 3rem;
                        .logo img{
                            width: 2.7rem;
                            height:2.7rem;
                        }
                        ul{
                            @include mix.flex-center-wrap(row,flex-start);
                            list-style: none;
                            gap:3rem;
                            li a{
                                @include mix.poppins-text(0.8rem,147%);
                            }
                            
                        }
                    }
                    .navWrapper-right{
                        @include mix.flex-center-wrap(row,flex-start);
                        gap:0.5rem;
                        .mobile-navwrapper-menu{      
                            width:2rem;
                            height:2rem;
                        }
                        
                    }
    }
    .hero-content-container{
        @include mix.flex-center-wrap(column,center);
        .hero-text{
            @include mix.poppins-text(4rem, 126.7%);
            margin:0 auto 1rem;
            width: 50%;
        }
        .hero-desc{
            @extend .open-sans;
            color: vars.$color-primary;
            font-weight: 400;
            font-size: 1.2rem;
            line-height: 158.7%;
            letter-spacing: -0.03em;
            margin:0 auto 3rem;
            width: 46%;
            
        }
        .hero-button-container{
            @include mix.flex-center-wrap(row,center);
            gap:2rem;
            margin-bottom: 9.1rem;
        }
    }
}
@include media.media-query{

    header{

        #navWrapper{
            padding:1rem 1rem 9rem;
            .navWrapper-left ul li{
                display: none;
            }
            .mobile-navwrapper-menu{
                display: inline-block;
                width:3rem;
                height:3rem;
            }
        }
        .hero-content-container{
            .hero-text{
                @include mix.poppins-text(2rem, 126.7%);
                width:90%;
                align-items: center;
            }
            .hero-desc{
                font-size: 0.8rem;
                width:80%;
            }    
        }
    }
        
}